@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
    
}


body {
    background-image: linear-gradient(to bottom, #ACC2FA, #ADDBFA, #ACFAE7);
    
}


main { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(41, 54, 55, 0.84);
    height: 100%;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #8180A5;
    text-align: center;
    text-shadow: 1px 1px 2px #605d73aa;
}


h2 {
    color: #023535;
}


p {
    text-align: justify;
}